/* colors */

.bg_01 {
    background: linear-gradient(to bottom right, #FDF1F1, #FDF1F1);
    color: #333 !important;
    box-shadow: 1px 1px 2px rgba(255, 248, 248, 0.3), -1px -1px 2px rgba(245, 234, 234, 0.5), inset -5px 5px 10px rgba(245, 234, 234, 0.2), inset 5px -5px 10px rgba(245, 234, 234, 0.2), inset -5px -5px 10px rgba(255, 248, 248, 0.9), inset 5px 5px 13px rgba(245, 234, 234, 0.9);
}

.bg_02 {
    background: linear-gradient(135deg, #AFBFD7 0%, #C1D3ED 100%);
    color: #333 !important;
    box-shadow: -5px 5px 10px rgba(177, 193, 217, 0.2), 5px -5px 10px rgba(177, 193, 217, 0.2), -5px -5px 10px rgba(191, 209, 235, 0.9), 5px 5px 13px rgba(177, 193, 217, 0.9), inset 1px 1px 2px rgba(191, 209, 235, 0.3), inset -1px -1px 2px rgba(177, 193, 217, 0.5);
}

.bg_03 {
    background: linear-gradient(to bottom right, #79c5bd, #76a2c7);
    color: #fff !important;
}

.bg_04 {
    background: linear-gradient(to bottom right, #cfefcf, #c0e6ec);
    color: #333 !important;
}

.bg_05 {
    background: linear-gradient(to bottom right, #bfbcf9, #a1e5e8);
    color: #333 !important;
}

.bg_06 {
    background: linear-gradient(to bottom right, #f3cccc, #f1cfe2);
    color: #333 !important;
}

.bg_07 {
    background: linear-gradient(to bottom right, #acd6c3, #64cfda);
    color: #333 !important;
}

.bg_08 {
    background: linear-gradient(to bottom right, #9CF3D1, #9CF3D1);
    color: #333 !important;
    box-shadow: 1px 1px 2px rgba(175, 255, 234, 0.3), -1px -1px 2px rgba(137, 214, 184, 0.5), inset -14px 14px 28px rgba(137, 214, 184, 0.2), inset 14px -14px 28px rgba(137, 214, 184, 0.2), inset -14px -14px 28px rgba(175, 255, 234, 0.9), inset 14px 14px 35px rgba(137, 214, 184, 0.9);
}